*{
    margin: 0;
    padding: 0;
}
#header{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    position: sticky;
    top: 0px;
    z-index: 2;
    border: 2px solid red;
    color: rgb(33, 36, 50);
    background-color: white;
}
#header >ul{
    display: flex;
    list-style: none;
    cursor: pointer;
}
#header >ul>li{
    margin: 14px;
}
#header ul > li >a {
    color: #212432;
    text-decoration: none;
}
#header ul > li >a:hover{
    text-decoration: underline;
    text-decoration-color: #2196F3;
    text-decoration-thickness: 3px;
} 

#header >ul>li:hover{
    
  text-decoration: underline;
  text-decoration-color: #2196F3;
  text-decoration-thickness: 3px;
}
 .images{
    width: 100px;
    border-radius: 50px;
    cursor: pointer;
    padding-bottom: 10px;
}
#shift {
   margin-left: -20px;
}

#sel{
    border: none;
}
#choose{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #212432;
    display:none;
}


.items{
    color: white;
    padding: 10px;
    margin: 15px 30px;

}
.items > a{
    color:#fff;
    text-decoration: none;
    display: block;
}
.image{
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
#first_img{
    width:80px ;
}
#third_img{
    width: 103px;
}
.banner{
    background-image: url(https://images.unsplash.com/photo-1518611012118-696072aa579a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGZpdG5lc3N8ZW58MHx8MHx8&auto=format&fit=crop&w=1920&h=900&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 65vh;
    border: 2px solid black;
    background-color: #E8EAF6;
    margin-bottom: 70px;

}
.banner >img{
    width: 100%;
    height: 100%;
    border: 2px solid black;
}
.grid-style{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 70px;
    border: 2px solid black;
    padding-bottom: 80px;
    background-color: #E8EAF6;
    border-radius: 15px;
    
}
#upper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 69%;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    background-color: #EDE7F6;
}
#pic{
    width: 198px;
    margin-bottom: 20px;
}
#sub{
    line-height: 1.4;
    padding: 20px;
    padding-bottom: 70px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    
}
#sub:hover{
    transform: scale(1.1);
    transition: all 0.8s ease-in-out 0.1s;
    cursor: pointer;

}

.blue{
    color: #1565C0;
}
.lblue{
    color: #2196F3;
}
#fix{
    background-color: #FFEBEE;
}

footer{
    display: flex;
    justify-content: space-between;
    width: 77%;
    margin: auto;
    padding: 166px;
    padding-top: 37px;
    background-color:#212432 ;
    color: #fff;
}
.rfoot{
    display: flex;
    justify-content: space-between;
}
#icon:hover{
    color: #fff;
    cursor: pointer;
}
.rfoot > div{
    line-height: 2.5;
}
footer  strong{
    display: block;
}
footer  strong:hover{
    text-decoration: underline;
    text-decoration-color:#a7aabb ;
    cursor: pointer;
}
.bot{
    margin: 0px 30px
}
.lfoot h6{
    display: inline;
}
#down{
    background-color: #212432;
}
.rfoot h5{
    color: #a7aabb;
}
.rfoot h5:hover{
    text-decoration: underline;
    text-decoration-color:#a7aabb ;
    cursor: pointer;
}
#b-log{
    border: 2px solid #212432 ;
    border-width: 20px;
}
.last{
    border-top: 1px solid #7b7f92;
    display: flex;
    justify-content: space-between;
    width: 77%;
    margin: auto;
    color: #7b7f92;
    padding: 30px;
}
.last span,.last i{
 padding: 7px;
}
.last span{
    color: #7b7f92;
}
.lsp{
    color:#a7aabb ;
}
.lin:hover{
    text-decoration: underline;
    text-decoration-color:#a7aabb ;
    cursor: pointer;
}
.lfoot h5 ,.lfoot h6{
    color:#7b7f92 ;
}
#mid-part{
    width: 94%;
    margin: auto;
    border: 2px solid green;
    background-color: #FFEBEE;
}
#first-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64%;
    margin: auto;
    border: 2px solid blue;
    line-height: 1.6;
    padding:  0px 100px;
    background-color: #4FC3F7;
    color: #fff;
}
#first-part img{
    width: 550px;
}
#first-part:nth-child(1)  button{
    padding: 15px 25px;
    margin-top: 28px;
    border-radius: 5px;
    background-color: #212432;
    color: #fff;
}
#first-part:nth-child(1){
    font-size: 19px;
}
.second-part{
    width: 62%;
    margin: auto;
    border: 2px solid blue;
    text-align: center;
    line-height: 1.6;
    padding:  0px 100px;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 25px;
    background-color: #E3F2FD;
}
.second-part > img{
    width: 65%;
}
.second-part > button{
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #212432;
    color: #fff;
}
#para{
    margin-bottom: 28px;

}
#third-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 70%;
    margin: auto;
    border: 2px solid blueviolet;
    padding: 20px;
}
#third-part > .second-part > a{
    text-decoration: none;
}
.second-part > img, .second-part > a{
    display: block;
    margin: auto;
    width: 100%;
}

#third-part > div:nth-child(1),#third-part > div:nth-child(4){
   background-color: #ECEFF1;
}
#third-part > div:nth-child(2),#third-part > div:nth-child(3){
   background-color: #EFEBE9;
}
#supcom{
    text-align: center;
    background-color: #FAFAFA;
    line-height: 1.6;
    padding-top: 50px;
}
#supcom > a{
    text-decoration: none;
    margin-bottom: 10px;
}

#supcom img{
    width: 100%;
}
.lpart{
    text-align: center;
    padding: 81px 0px;
}
.lgrid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    width: 93%;
    margin: auto;
    border:  2px solid green;
    padding: 23px;
    gap: 10px;
    height: 450px;

}
.lpart img{
    width: 100%;
}
.ite h3,.ite h5{
  text-align: left;
}
.ite h3{
    margin-bottom:7px ;
}
.ite h4{
    line-height: 1.2;
    text-align: left;
}
.pric{
    margin-top: 100px;
}
.lpart p{
    margin: 20px 0px;
}
.ite pre{
    margin-top: 5px;
}
.shade{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 15px;
}
.lpart > a{
    float: left;
    width: 25%;
    margin: auto;
    text-decoration: none;
    
}
.ite{
   transition:border 0.4s ease-in  ;
   padding: 10px;
}
.ite:hover{
border: 4px solid #03A9F4;
}
#unique{
    color: gray;
}
#unique2{
    color: rebeccapurple;
}
#mid-part button{
    transition: background-color 0.4s ease-in ;
}
#mid-part button:hover{
    cursor: pointer;
    background-color: #E3F2FD;
    color: #212432;
}
#third-part > .second-part{
    transition:all 0.5s ease-out 0.1s ;
}
#third-part > .second-part:hover{
    transform: scale(1.1);
    border-radius: 4px;
    z-index: 1;
}
#mid-part a:hover{
    text-decoration: underline;
}
