*{
    margin: 0;
    padding: 0;
}
#header{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}
#header >ul{
    display: flex;
    list-style: none;
    cursor: pointer;
}
#header >ul>li{
    margin: 14px;
}

#header >ul>li:hover{
    
  text-decoration: underline;
  text-decoration-color: #2196F3;
  text-decoration-thickness: 3px;
}
 .images{
    width: 100px;
    border-radius: 50px;
    cursor: pointer;
    padding-bottom: 10px;
}
#shift {
   margin-left: -20px;
}

#sel{
    border: none;
}
#choose{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #212432;
    display:none;
}


.items{
    color: white;
    padding: 10px;
    margin: 15px 30px;

}
.items > a{
    color:#fff;
    text-decoration: none;
    display: block;
}
.image{
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
#first_img{
    width:80px ;
}
#third_img{
    width: 103px;
}
.banner{
    background-image: url(https://images.unsplash.com/photo-1518611012118-696072aa579a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGZpdG5lc3N8ZW58MHx8MHx8&auto=format&fit=crop&w=1920&h=900&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 65vh;
    border: 2px solid black;
    background-color: #E8EAF6;
    margin-bottom: 100px;

}
/* .banner >img{
    width: 100%;
    height: 100%;
    border: 2px solid black;
} */
.grid-style{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 70px;
    border: 2px solid black;
    margin-bottom: 80px;
    background-color: #E8EAF6;
    border-radius: 15px;
    
}
#upper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 69%;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    background-color: #EDE7F6;
}
#pic{
    width: 300px;
    margin-bottom: 20px;
}
#sub{
    line-height: 1.4;
    padding: 10px;
    padding-bottom: 70px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    
}
#sub:hover{
    transform: scale(1.1);
    transition: all 0.8s ease-in-out 0.1s;
    cursor: pointer;

}

.blue{
    color: #1565C0;
}
.lblue{
    color: #2196F3;
}
#fix{
    background-color: #FFEBEE;
}

